{minimum_otp_vsn, "20.1"}.

{erl_opts, [debug_info]}.

{deps, [ {eblake2, "1.0.0"}
       , {aeserialization, {git, "https://github.com/aeternity/aeserialization.git",
                            {ref, "b55c372"}}}
       , {getopt, "1.0.1"}
       ]}.

{escript_incl_apps, [aebytecode, eblake2, aeserialization, getopt]}.
{escript_main_app, aebytecode}.
{escript_name, aefateasm}.
{escript_emu_args, "%%!"}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.


{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, getopt]}
           ]}.


{relx, [{release, {aebytecode, "2.0.1"},
         [aebytecode, eblake2, getopt]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [{binary, [
                      {deps, [ {eblake2, "1.0.0"}
                             , {aeserialization, {git, "https://github.com/aeternity/aeserialization.git",
                                                  {ref, "b55c372"}}}
                             , {getopt, "1.0.1"}
                             ]},

                      {post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
                                     escriptize,
                                     "cp \"$REBAR_BUILD_DIR/bin/aefateasm\" ./aefateasm"},
                                    {"win32",
                                     escriptize,
                                     "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aefateasm* "
                                     "/njs /njh /nfl /ndl & exit /b 0"} % silence things
                                   ]}
                     ]},
             {eqc, [{erl_opts, [{parse_transform, eqc_cover}]},
                    {extra_src_dirs, ["quickcheck"]}    %% May not be called eqc!
                   ]}
            ]}.
